<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="style.css" rel="stylesheet">
</head>
<body>
<nav>
<a href="#Home" class="a1">Home</a>
<a href="#Contact US">Contact us</a>
</nav>
<article>
<h3 class="c1" style="color: red; border: 2px dashed black;">Heading</h3>
<p id="p1" class="c1">
Users skim your pages by its headings. It is important to use headings to show the document structure.
headings should be used for main headings, followed by headings, then the less important , and so on.
</p>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<p>
Users skim your pages by its headings. It is important to use headings to show the document structure.
headings should be used for main headings, followed by headings, then the less important , and so on.
</p>
</article>

<aside>
<address>
10R, Delhi Road
Aggarwal Colony

</address>

</aside>

</body>
</html>