<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<!-- <a href="index.html">Index page</a> -->
<a href="#p1">Page 2</a>
<a href=".././index.html">Index page 1</a>

http://loclahost:8080/HtmlDemo1/view/two.html
http://loclahost:8080/HtmlDemo1/index.html
This is link
<a href="http://lorempixel.com" target="_blank">
<img src="http://lorempixel.com/400/200/cats" alt="cat picture" title="This is from site lorempixel"/>
</a>This is link
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>


<p id="p1">Hello Page 2</p>
<a href="mailto:jahanvi.bansal@gmail.com">Send Mail</a>

Employees: 
<ol  type="i" start="8" >
<li>Priya</li>
<li>Neha</li>
</ol>


Fruit Names:
<ul type="square">
<li>Apple</li>
<li>Oranges</li>
</ul>


<dl>
<dt>Tools</dt>
<dd>Screw Driver</dd>
<dd>Scissor</dd>
<dt>Stationary</dt>
<dd>Pen</dd>
<dd>Pencil</dd>
</dl>
Hi this is <p> a paragraph</p> . This is included!

Employee Table:
<table border="1px solid black">
<thead>
<tr>
<th>EmpId</th><th>Name</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td><td>Payal</td>
</tr>
<tr>
<td>2</td><td>Shreya</td>
</tr>
</tbody>
</table>
Finish
</body>
</html>